@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #f40057;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.navbar .links {
  margin-left: auto;
}

.navbar .title {
  font-size: 30px;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  color: rgb(70, 70, 70);
  font-weight: 600;
}

a:hover{
  color: #860048;
}

.hometop{
  display: flex;
  max-width: 450px;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

.hometop img {
  margin-left: auto;
}

.hometop h2 {
  color: rgb(70, 70, 70);
  font-weight: 600;
}

.hometop .myname {
  color: #f40057;
  margin-left: 4px;
  padding-left: 40px;
  padding-right: 40px;
}
.hometop .job {
  color: #f40057;
  margin-left: 4px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border-radius: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
