@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  margin: 0;
  font-family: "Quicksand";
  color: white;
  
}


.navbar {
  padding: 10px;
  display: flex;
  
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  
}

.navbar .links {
  margin-left: auto;
  font-size: 25px;
  
}

.navbar button {
  background-color: transparent;
  text-decoration: none;
  border-style: none;
  font-size: 25px;
  font-weight: bold;
}

.navbar button:hover {
  color: #e4aa48;
  cursor: pointer;
}

.navbar .title {
  font-size: 60px;
  color: #e4aa48;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 10px;
}

a:hover{
  color: #e4aa48;
}

.hometop{
  display: flex;
  max-width: 900px;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  padding-top: 40px;
  font-size: 30px;
  padding-bottom: 50px;
}

.hometop img {
  margin-left: auto;
  max-width: 400px;
  max-height: 400px;
}

.hometop h2 {
  font-weight: 600;
  
}

.hometop .myname {
  color: #e4aa48;
  margin-left: 4px;
  padding-left: 80px;
  padding-right: 80px;
}
.hometop .job {
  color: #e4aa48;
  margin-left: 4px;
}

.overview {
  background-color: #34343b;
  padding: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.overview h2 {
  font-size: 30px;
}

.projectlist {
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.project img {
  max-width: 200px;
  border-radius: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project {
  max-width: 600px;
  background-color: #2e2e35;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}


@media (max-width: 700px) {
  .hometop img {
    max-width: 250px;
    max-height: 250px;
    margin: 0;
    margin-top: 30px;
  }

  .navbar .links button {
    font-size: 20px;
  }
  .navbar .title{
    font-size: 25px;
  }
  
  .navbar button {
    padding: 0px;
  }

  .hometop{
    max-width: 400px;
    font-size: 20px;
    flex-direction: column;
  }
  .hometop .myname {
    padding-left: 40px;
    padding-right: 40px;
  }

}

@media (max-width: 300px) {
  .navbar .links button {
    font-size: 15px;
  }
  .navbar .title{
    font-size: 18px;
  }
  .hometop img {
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e2e35;
}

img {
  border-radius: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
